@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Work+Sans:wght@300&display=swap');

@import "https://jodd-component-css.netlify.app/main.css";

:root{
    --SIDE-NAVBAR-COLOR: #e5e7eb;
}

pre[class*=language-]{
    font-size: 1.5rem;
}

a{
    color: var(--PRIMARY-COLOR);
}

/* -------header start-------- */
.header-nav{
    background-color: var(--BACKGROUND-COLOR);
    padding: 1rem;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    box-shadow: 1px 1px 7px 3px rgb(128 128 128 / 20%);
}

.header-nav-link,
.brand-link{
    text-decoration: none;
    color: var(--PRIMARY-COLOR);
}

.brand-link{
    font-size: 3rem;
    color: var(--SECONDARY-COLOR);
    margin-left: 2rem;
    font-weight: 900;
}

.header-nav-link{
    font-size: 2rem;
    margin-right: 2rem;
    transition: 0.3s;
}

.header-nav-link:hover{
    color: var(--SECONDARY-COLOR);
}
/* ------- header end -------  */

/* ---------hero start -------- */

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr 10%;
    grid-template-areas: 
    "hero-text hero-image ....";
    gap: 2rem;
    padding: 4rem;
    line-height: 1.5;
}

.hero-text{
    grid-area: hero-text;
    flex-direction: column;
    gap: 2rem;
}

.hero-heading{
    font-size: 3.5rem;
}

.hero-text > p{
    width: 70%;
}

.hero-image{
    grid-area: hero-image;
}

.hero-img{
    width: 100%;
    height: 80%;
    object-fit: contain;
}

.hero-text > .btn{
    max-width: 15rem;
}

/* --------footer ------  */

.footer{
    background-color: var(--PRIMARY-COLOR);
    color: var(--BACKGROUND-COLOR);
    padding: 3rem;
    flex-direction: column;
    gap: 2rem;
}

.footer-link{
    color: var(--BACKGROUND-COLOR);
}

.footer-link:hover{
    color: var(--SECONDARY-COLOR)
}

.main{
    display: grid;
    grid-template-columns: 25% 1fr 5%;
    grid-template-areas: 
    "side-nav documentation ...."
    ;
}

/* ---------side-nav start---------- */
.side-nav-link > a{
    color: var(--PRIMARY-COLOR);
    margin-left: 3rem;
}

.side-nav{
    grid-area: side-nav;
    padding: 2rem 3rem;
    background-color: var(--SIDE-NAVBAR-COLOR);
    position: sticky;
    top: 0;
    overflow-y: auto;
    height: 100vh;
    box-shadow: 1px 1px 7px 3px rgb(128 128 128 / 20%);

}

.side-nav > p{
    color: var(--PRIMARY-COLOR);
}

.side-nav-link{
    list-style: none;
    margin-bottom: 3rem;
}

.side-nav-link > a:hover{
    color: var(--SECONDARY-COLOR);
    transition: 0.5s;
    animation: slide-right 0.5s ease-out 1 forwards;
}

@keyframes slide-right{
    0%{
        margin-left: 3rem;
    }
    100%{
        margin-left: 4rem;
    }
}

/* ------documentation start----- */
.documentation{
    grid-area: documentation;
    min-width: 70%;
}

.section{
    padding: 2rem 2rem 2rem 6rem;
}

.intro-section{
    padding: 3.5rem;
}

.section > p{
    font-weight: lighter;
}

section > *{
    margin-bottom: 3rem;
}

section > *:nth-last-child(1){
    margin-bottom: 1rem;
}

.section:nth-last-child(1){
    border-bottom: none;
}

.highlight{
    font-weight: bold;
}

.btn-fixed{
    position: fixed;
    bottom: 2rem;
    right: 4rem;
    z-index: 2;
}

.cta-container{
    justify-content: space-between;
    padding: 1rem;
}

.cta-container > a:hover{
    color: var(--SECONDARY-COLOR);
}

/* -------main end -----  */

@media only screen and (max-width: 900px){
    html{
        font-size: 62.5%;
    }

    .main { 
        grid-template-columns: 1fr;
        grid-template-areas: "documentation";
        padding: 0;
    }

    .hero{
        grid-template-columns: 60% 1fr;
        grid-template-areas: 
        "hero-text hero-image";
    }

    .hero-text > P{
        width: 80%;
    }

    .side-nav{
        display: none;
    }

    .brand-link{
        margin-left: 0;
        margin-right: 2rem;
    }

    .documentation{
        padding: 1rem;
    }

    .section{
        max-width: 100%;
        padding: 0.5rem;
        margin-bottom: 2rem;
    }

    .intro-section{
        padding: 1rem 4.5rem;
    }

    .nav-link{
        margin-right: 1rem;
    }

    .nav-searchbar{
        display: none;
    }

    .nav-searchbar-res{
        display: block;
        margin: 0 auto;
    }

    .nav-search{
        display: none;
    }

    .nav-searchbar-res > input{
        transition: 0.3s ease;
    }

    .nav-searchbar-res > input:focus{
        width: 100%;
    }

}

@media only screen and (max-width: 600px) {
    html{
        font-size: 50%;
        /* overflow-x: hidden; */
    }

    .main{
        padding: 0;
    }

    .hero{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "hero-text";
        gap: 2rem;
        padding: 4rem;
    }

    .hero-image{
        display: none;
    }

    .hero-text > P{
        width: 80%;
    }

    .side-nav{
        display: none;
    }

    main { 
    grid-template-columns: 1fr;
    grid-template-areas: "documentation";
    padding: 0;
    }

    .documentation{
        padding: 1rem;
    }

    .header{
        width: 100%;
    }

    .section{
        max-width: 100%;
        padding: 1rem;
    }

    .intro-section{
        padding: 1rem 4.5rem;
    }

    .horizontal-card{
        max-width: 70%;
    }

    .section > *:nth-last-child(1){
        margin-bottom: 0;
    }
    ul .nav-link{
        display: none;
    }

    .mobile-view{
        display: block;
    }

    .hamburger{
        background: transparent;
        color: var(--SECONDARY-COLOR);
    }
}
/* ------------------------------ */

.hero{
    background-image: url("./assets/images/banner.jpg");
    height: 50rem;
    background-position: top center;
    background-size: cover;
    justify-content: end;
}

.banner{
    width: 50%
}

.banner-text{
    color: var(--BACKGROUND-COLOR);
    font-size: 4rem;
    font-family: monospace;
    line-height: 1.5;
}

.nav-btn{
    font-weight: 700;
    width: 10rem;
    max-width: 15rem;
}

.text-badge{
    top: -1rem;
    left: 1.2rem;
    width: 2rem;
    height: 2rem;
}