@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Work+Sans:wght@300&display=swap');

:root {
    --BACKGROUND-COLOR:#FFF;
    --PRIMARY-COLOR: #010101;
    --SECONDARY-COLOR: #a40ae0;
    --HIGHLIGHT-COLOR: #374151;

    --SUCCESS-BACKGROUND_COLOR: #bbf7d0;
    --SUCCESS-COLOR: #015821;
    --DANGER-BACKGROUND_COLOR: #fecaca;
    --DANGER-COLOR: #ef4444;
    --WARNING-BACKGROUND_COLOR: #fde68a;
    --WARNING-COLOR: #9b6100;
    --INFO-BACKGROUND_COLOR: #a5f3fc;
    --INFO-COLOR: #00637a;
    --INDICATOR-GREEN: #10b981;
    --INDICATOR-RED: #f44336;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

img {
    object-fit: cover;
}